<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container mt-5">
  <div class="d-flex align-items-end">
    <%= link_to (image_tag 'logo.png'), root_path %>
    <% if @current_user %>
      <div class="ml-auto">
        <%= I18n.t('message.login_user', name: current_user.name) %>&emsp;
        <%= link_to icon('fas', 'sign-out-alt'), logout_path, method: :delete %>
      </div>
    <% end %>
  </div>
  <br>
  <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
