<%= form_for(task) do |f| %>
  <div class="form">
    <div>
      <div><%= f.label :name %></div>
      <div><%= f.text_field :name %></div>
    </div>
    <div>
      <div><%= f.label :description %></div>
      <div><%= f.text_area :description %></div>
    </div>
    <div>
      <%= f.select :status, Task.statuses_i18n.invert %>
    </div>
    <div class="hidden-box">
      <%= f.check_box :have_a_due %>
      <%= f.label :due_at %>
      <div class="hidden">
        <%= f.datetime_local_field :due_at %>
      </div>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
<%= link_to I18n.t('back'), tasks_path %>