<h1><%= t '.title' %></h1>
<%= link_to 'タスクの作成', new_task_path %>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name', Task.human_attribute_name(:name) %></th>
      <th><%= sortable 'description', Task.human_attribute_name(:description) %></th>
      <th><%= sortable 'due_at', Task.human_attribute_name(:due_at) %></th>
      <th><%= sortable 'created_at', Task.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= link_to task.name, task %></td>
        <td class="task-description"><%= task.description %></td>
        <td class="task-due_at">
          <%= l task.due_at if task.have_a_due %>
        </td>
        <td class="task-created_at"><%= l task.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>