<h1><%= I18n.t('tasks.index.title') %></h1>
<%= link_to I18n.t('tasks.new.title'), new_task_path %>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <th><%= Task.human_attribute_name(:description) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td class="task-description"><%= task.description %></td>
        <td class="task-created_at"><%= task.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
