<h1><%= I18n.t('tasks.show.title') %></h1>
<h2><%= @task.name %></h2>
<p><%= @task.description %></p>
<p><% if @task.have_a_due then %>
  <%= l @task.due_at %>
<% else %>
  期限なし
<% end %></p>
<p>作成日時：<%= @task.created_at %></p>
<%= link_to I18n.t('back'), tasks_path %>
<%= link_to I18n.t('edit'), edit_task_path(@task) %>
<%= link_to I18n.t('delete'), task_path(@task), method: :delete, data: { confirm: I18n.t('tasks.delete.confirm') } %>
