<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label       :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label          :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "アカウントを作成", new_user_path %>
  </div>
</div>