<h3><%= @todo.title %></h3>
<p><%= @todo.content %></p>
<% if !@todo.deadline.nil? %>
  <p><%= "#{t('dictionary.deadline')} #{l(@todo.deadline, format: :long)}" %></p>
<% end %>
<%= link_to(t('dictionary.edit'), "/todos/#{@todo.id}/edit") %>
<%= link_to(t('dictionary.destroy'), "/todos/#{@todo.id}/destroy", {method: 'post'}) %>
