<h2><%= t('.title') %></h2>
<% @todo.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<%= form_tag("/todos/#{@todo.id}/update") do %>
  <p><%= t('dictionary.title') %></p>
  <input name="title" value="<%= @todo.title %>">
  <p><%= t('dictionary.content') %></p>
  <textarea name="content"><%= @todo.content %></textarea>
  <p><%= t('dictionary.priority') %></p>
  <%= select :todo, :priority_id, [[t('priority.low'), 'low'], [t('priority.middle'), 'middle'], [t('priority.high'), 'high']], selected: @todo.priority_id %>
  <p><%= t('dictionary.status') %></p>
  <%= select :todo, :status_id, [[t('status.unstarted'), 'unstarted'], [t('status.working'), 'working'], [t('status.completed'), 'completed']], selected: @todo.status_id %>
  <p><%= t('dictionary.deadline') %></p>
  <input type="datetime-local" name="deadline" value="<%= @todo.deadline.strftime('%Y-%m-%dT%H:%M') if !@todo.deadline.nil? %>">
  <input type="submit" value="<%= t('dictionary.update') %>">
<% end %>
<%= @status %>
