<h2><%= t('.title') %></h2>
<%= button_to(t('dictionary.all'), root_path(sort: @sort, direction: @direction, search: @search, status: '%')) %>
<%= button_to(t('status.id0'), root_path(sort: @sort, direction: @direction, search: @search, status: 0)) %>
<%= button_to(t('status.id1'), root_path(sort: @sort, direction: @direction, search: @search, status: 1)) %>
<%= button_to(t('status.id2'), root_path(sort: @sort, direction: @direction, search: @search, status: 2)) %>
<%= form_tag('/') do %>
  <input type="search" name="search">
  <input type="hidden" name="sort" value="<%= @sort %>">
  <input type="hidden" name="direction" value="<%= @direction %>">
  <input type="hidden" name="status" value="<%= @status %>">
  <input type="submit" value="<%= t('dictionary.search') %>">
<% end %>
<%= link_to(t('dictionary.create'), '/todos/new') %>
<table border="1">
  <tr>
    <th><%= t('dictionary.status') %></th>
    <th><%= t('dictionary.title') %></th>
    <th><%= t('dictionary.content') %></th>
    <th><%= link_to(t('dictionary.deadline'), root_path(sort: 'deadline', direction: @direction == 'desc' ? 'asc' : 'desc', search: @search, status: @status)) %></th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <th><%= t("status.id#{todo.status_id}") %></th>
      <th><%= link_to(todo.title, "/todos/#{todo.id}/detail") %></th>
      <th><%= todo.content %></th>
      <th style="color:<%= 'red' if !todo.deadline.nil? and todo.deadline < Time.current %>">
        <%= l(todo.deadline, format: :long) if !todo.deadline.nil? %>
      </th>
    </tr>
  <% end %>
</table>
