<h2><%= t('.title') %></h2>
<% @todo.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<%= form_tag('/todos/create') do %>
  <p><%= t('dictionary.title') %></p>
  <input name="title" value="<%= @todo.title %>">
  <p><%= t('dictionary.content') %></p>
  <textarea name="content"><%= @todo.content %></textarea>
  <p><%= t('dictionary.deadline') %></p>
  <input type="datetime-local" name="deadline" min="<%= Time.current.strftime('%Y-%m-%dT%H:%M') %>" value="<%= @todo.deadline.strftime('%Y-%m-%dT%H:%M') if !@todo.deadline.nil? %>">
  <input type="submit" value="<%= t('dictionary.create') %>">
<% end %>
