<h2>Create Todo</h2>
<% @todo.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<%= form_tag('/todos/create') do %>
  <p><%= t('dictionary.title') %></p>
  <input name="title" value="<%= @todo.title %>">
  <p><%= t('dictionary.content') %></p>
  <textarea name="content"><%= @todo.content %></textarea>
  <input type="submit" value="<%= t('dictionary.create') %>">
<% end %>
