<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <h1><%= link_to(t('title'), @current_user ? '/' : '/login') %></h1>
  <ul>
    <% if @current_user %>
      <% if @current_user.user_type == 'admin' %>
        <li>
          <%= link_to(t('dictionary.management'), '/admin') %>
        </li>
      <% end %>
      <li>
        <%= link_to(t('dictionary.logout'), '/logout', { method: :post }) %>
      </li>
    <% else %>
      <li>
        <%= link_to(t('dictionary.signup'), '/signup') %>
      </li>
      <li>
        <%= link_to(t('dictionary.login'), '/login') %>
      </li>
    <% end %>
  </ul>
</header>
<%= flash[:notice] if flash[:notice] %>
<%= yield %>
</body>
</html>
