<%= form_for(@task, html: {class: 'task-form'}) do |f| %>

  <%= render 'shared/task_error_msg' %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label      :name , class: 'form-label' %>
      <%= f.text_field :name,  class: 'form-control' %>

      <%= f.label :category_id , class: 'form-label'%>
      <%= "(" %>
      <%= link_to "管理", categories_url, target: :_blank %>
      <%= "," %>
      <!-- TODO: 更新を押すとフォームに記入したテキストなどの内容が消えてしまう -->
      <%= link_to "更新", request.url  %>
      <%= ")" %>
      <%= f.collection_select :category_id, current_user.categories, :id, :name, {include_blank: '選択してください'}  , class: 'form-control' %>

      <%= f.label      :description, class: 'form-label'   %>
      <%= f.text_area  :description, class: 'form-control' %>

      <%= f.label      :start_date, class: 'form-label'   %>
      <%= f.date_field :start_date, class: 'form-control' %>

      <%= f.label        :necessary_days        , class: 'form-label'   %>
      <%= f.number_field :necessary_days, min: 1, class: 'form-control' %>

      <br>
      
      <%= f.label :progress ,class: 'form-label' %>
      <div>
        <%= f.collection_radio_buttons :progress, Task.progresses, :first, :first do |b|  %>
          <%= b.label(class: "radio") { b.radio_button + b.text } %>
        <% end %>
      </div>

      <br>
      
      <%= f.label :priority, class: 'form-label' %>
      <div>
        <%= f.collection_radio_buttons :priority, Task.priorities, :first, :first do |b|  %>
          <%= b.label(class: "radio") { b.radio_button + b.text } %>
        <% end %>
      </div>

      <%= f.label :label, class: 'form-label' %>
      <div>
        <%= f.collection_check_boxes :label_ids, Label.all, :id, :name do |l| %>
          <%= l.label(class: "checkbox") { l.check_box + l.text } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <%= link_to yield(:cancel_link_text), yield(:cancel_link), class:"btn btn-warning"%>
    </div>
  </div>
<% end %>