  <%= form_for(@task) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label      :name %>
    <%= f.text_field :name,        class: 'form-control' %>

    <%= f.label      :description %>
    <%= f.text_area  :description, class: 'form-control' %>

    <%= f.label        :necessary_days  %>
    <%= f.number_field :necessary_days, min: 1, class: 'form-control' %>

    <%= f.label        :necessary_days %>
    <%= f.number_field :necessary_days, min: 1, class: 'form-control' %>

    <%= f.label :progress %>
    <div>
      <%= f.collection_radio_buttons :progress, Task.progresses, :first, :first %>
    </div>

    <br>
    
    <%= f.label :priority %>
    <div>
        <%= f.collection_radio_buttons :priority, Task.priorities, :first, :first %>
    </div>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>