<%= form_for(@task) do |f| %>

  <%= render 'shared/task_error_msg' %>

  <%= f.label      :name %>
  <%= f.text_field :name,        class: 'form-control' %>

  <%= f.label :category %>
  <%= "(" %>
  <%= link_to "管理", categories_url, target: :_blank %>
  <%= "," %>
  <%= link_to "更新", request.url  %>
  <%= ")" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: '選択してください'}  , class: 'form-control' %>

  <%= f.label      :description %>
  <%= f.text_area  :description, class: 'form-control' %>

  <%= f.label      :start_date %>
  <%= f.date_field :start_date,  class: 'form-control' %>

  <%= f.label        :necessary_days %>
  <%= f.number_field :necessary_days, min: 1, class: 'form-control' %>

  <%= f.label :progress %>
  <div>
    <%= f.collection_radio_buttons   :progress, Task.progresses, :first, :first %>
  </div>

  <br>
  
  <%= f.label :priority %>
  <div>
      <%= f.collection_radio_buttons :priority, Task.priorities, :first, :first %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>