<div class="row">
  <div class="col-md-8 col-md-offset-1">
  <%= form_for(@task) do |f| %>
      <%= f.label      :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label     :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label     :start_date %>
      <%= f.text_area :start_date, class: 'form-control' %>

      <%= f.label        :necessary_days %>
      <%= f.number_field :necessary_days, class: 'form-control' %>

      <%= f.label :progress %>
      <div>
        <%= f.collection_radio_buttons :progress, Task.progresses.invert, :first, :first %>
      </div>

      <br>
      
      <%= f.label :priority %>
      <div>
         <%= f.collection_radio_buttons :priority, Task.priorities.invert, :first, :first %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>