<div class="row">
  <div class="col-md-8 col-md-offset-1">
  <%= form_for(@task) do |f| %>
      <%= f.label      :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label     :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label     :start_date %>
      <%= f.text_area :start_date, class: 'form-control' %>

      <%= f.label     :necessary_days %>
      <%= f.text_area :necessary_days, class: 'form-control' %>

      <%= f.label :progress %>
      <div>
        <%= f.radio_button :progress, 0 %>未実行
        <%= f.radio_button :progress, 1 %>実行中
        <%= f.radio_button :progress, 2 %>完了
      </div>

      <br>
      
      <%= f.label :priority %>
      <div>
        <%= f.radio_button :priority, 0 %>低
        <%= f.radio_button :priority, 1 %>中
        <%= f.radio_button :priority, 2 %>高
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>