<h1>All tasks</h1>

<div>
  <%= link_to "タスクを作成", new_task_path %>
</div>
<br>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <li>
      <div>
        <span>タスク名</span>
        <span><%= task.name%></span>
        <span><%= link_to "詳細",  task%></span>
      </div>
      <div>
        <span>説明文</span>
        <%= task.description %>
      </div>
      <div>
        <span>必要日数</span>
        <%= task.necessary_days %>
      </div>
      <div>
        <span>取り掛かり期間</span>
        <%= task.start_date %> ~ <%= task.start_date + task.necessary_days %>
      </div>
      <div>
        <span>実行状況</span>
        <%= task.progress %>
      </div>
      <div>
        <span>重要度</span>
        <%= task.priority %>
      </div>
      <br>
    </li>
  <% end %>
</ul>