<h1>All tasks</h1>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <li>
      <div>
      <span>タスク名</span>
      <%= task.task_name%>
      </div>
      <div>
        <span>説明文</span>
        <%= task.abstract_text %>
      </div>
      <div>
        <span>取り掛かり開始日</span>
        <%= task.start_date %>
      </div>
      <div>
        <span>締め切り</span>
        <%= task.deadline_date %>
      </div>
      <div>
        <span>実行状況</span>
        <%= task.status %>
      </div>
      <br>
    </li>
  <% end %>
</ul>