<h1>All tasks</h1>
<div><%= link_to 'タスクを作成', new_task_url %>
<br>

<p>
  <%= link_to '新しい順',  tasks_path(latest: "true") %> | 
  <%= link_to '古い順',    tasks_path(old: "true") %> | 
  <%= link_to '重要度順',  tasks_path(important: "true") %>
</p>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <li>
      <div>
        <span>タスク名</span>
        <span><%= task.name%></span>
        <span><%= link_to "詳細",  task %></span>
      </div>

      <% if task.description.present? %>
        <div>
          <span>説明文</span>
          <%= task.description %>
        </div>
      <% end %>

      <div>
        <span>必要日数</span>
        <%= task.necessary_days %>日
      </div>

      <div>
        <span>取り掛かり期間</span>
        <%  deadline_date = task.start_date + task.necessary_days - 1  %>
        <%= print_month_day_wday task.start_date %> ~ 
        <%= print_month_day_wday deadline_date %>
      </div>

      <div>
        <span>実行状況</span>
        <%= task.progress %>
      </div>
      
      <div>
        <span>重要度</span>
        <%= task.priority%>
      </div>
      
      <br>
    </li>
  <% end %>
</ul>