<div class="row">
  <div>
    <h1><%= I18n.t('task_index') %></h1>
  </div> 
</div>

<br>

<div class="row">
  <%= link_to I18n.t('create_task'), new_task_url, class:"btn btn-primary" %>
</div>

<br>

<div class="row border search_tasks">
  <div class="col-6">
    <%= render 'filter_check_box' %>
  </div>

  <div class="col-6 d-flex align-items-end">
    <div class="search_form">
      <%= form_with url: tasks_path, method: :get do |f| %>
        <%= f.text_field :search, placeholder: @shown_search_placeholder, class: "search_item" %>
        <%= f.select :search_option, options_for_select([%w(完全に一致 perfect_match),
                                                  %w(一部を含む partial_match)], @shown_search_option), {}, {class: "search_item"} %>
        <%= f.submit '検索', class: "btn btn-primary search_item" %>
      <% end %>
    </div>
  </div>

</div>
並び替え
    <div class="sorting-params">
      <%= sort_link  @sort_by, @direction, '作成日',  'created_at'      %> | 
      <%= sort_link  @sort_by, @direction, 'タスク名', 'name'           %> | 
      <%= sort_link  @sort_by, @direction, '取り掛り', 'start_date'     %> | 
      <%= sort_link  @sort_by, @direction, '必要日数', 'necessary_days' %> | 
      <%= sort_link  @sort_by, @direction, '進行状況', 'progress'       %> | 
      <%= sort_link  @sort_by, @direction, '重要度',   'priority'        %>
    </div>

<br>



<% if @tasks.blank? %>
  該当するタスクがありません
<% end %>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <div class = "task">
      <div class="card mb-3 bg-primary">
        <%= link_to task, class: "card-body text-white" do %>
          <div>
            <h4><%= task.name%></h4>
          </div>

          <div>
            <span><%= Task.human_attribute_name(:created_date) %></span>
            <%= print_month_day_wday task.created_at %>
          </div>

          <% if task.description.present? %>
            <div>
              <span><%= Task.human_attribute_name(:description) %></span>
              <%= task.description %>
            </div>
          <% end %>

          <div>
            <span><%= Task.human_attribute_name(:necessary_days) %></span>
            <%= task.necessary_days %>日
          </div>

          <div>
            <span><%= Task.human_attribute_name(:period_on_task) %></span>
            <%  deadline_date = task.start_date + task.necessary_days - 1  %>
            <%= print_month_day_wday task.start_date %> ~ 
            <%= print_month_day_wday deadline_date %>
          </div>

          <div>
            <span><%= Task.human_attribute_name(:progress) %></span>
            <%= task.progress %>
          </div>
          
          <div>
            <span><%= Task.human_attribute_name(:priority) %></span>
            <%= task.priority%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>

<%= paginate @tasks %>
