<h1>new task</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>
      <%= f.label      :name %>
      <%= f.text_field :name %>

      <%= f.label     :description %>
      <%= f.text_area :description %>

      <%= f.label      :start_date %>
      <%= f.date_field :start_date %>

      <%= f.label        :necessary_days %>
      <%= f.number_field :necessary_days %>
      
      <%= f.label :progress %>
      <div>
        <%= f.radio_button :progress, '未着手' %>未実行
        <%= f.radio_button :progress, '実行中' %>実行中
        <%= f.radio_button :progress, '完了' %>完了
      </div>

      <br>
      
      <%= f.label :priority %>
      <div>
        <%= f.radio_button :priority, '低' %>低
        <%= f.radio_button :priority, '中' %>中
        <%= f.radio_button :priority, '高' %>高
      </div>

      <%= f.submit "Create task", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>