<div class = "col-md-offset-1">
  <h1><%= @task.name %></h1>
  <span><%= link_to  I18n.t('back_to_index'),  tasks_url      %></span>
  <span><%= link_to  I18n.t('edit'),           edit_task_path %></span>
  <span>
    <%= button_to I18n.t('delete_task'), @task, method: :delete,
                      form: {data: {turbo_confirm: I18n.t('message_before_delete')} } %> 
  </span>
</div>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-1">

    <div>
      <span><%= Task.human_attribute_name(:name) %></span>
      <%= @task.name %>
    </div>

    <div>
      <span><%= Task.human_attribute_name(:category) %></span>
      <%= @task.category %>
    </div>

    <% if @task.description.present? %>
      <div>
        <span><%= Task.human_attribute_name(:description) %></span>
        <%= @task.description %>
      </div>
    <% end %>

    <div>
      <span><%= Task.human_attribute_name(:necessary_days) %></span>
      <%= @task.necessary_days %>日
    </div>
    
    <div>
      <span><%= Task.human_attribute_name(:period_on_task) %></span>
      <%  @deadline_date = @task.start_date + @task.necessary_days - 1 %>
      <%= print_month_day_wday @task.start_date %> ~ 
      <%= print_month_day_wday @deadline_date %>
    </div>

    <div>
      <span><%= Task.human_attribute_name(:progress) %></span>
      <%= @task.progress %>
    </div>
    
    <div>
      <span><%= Task.human_attribute_name(:priority) %></span>
      <%= @task.priority %>
    </div>

  </div>
</div>