<div class="row">
  <div class="col-md-8 col-md-offset-1">
  <div>
    <span>タスク名</span>
    <%=@task.name%>
  </div>

  <% if !@task.description.nil? %>
    <div>
      <span>説明</span>
      <%= @task.description %>
    </div>
  <% end %>

  <div>
    <span>必要日数</span>
    <%= @task.necessary_days %>
  </div>

  <div>
    <span>取り掛かり期間</span>
    <%= @task.start_date %> ~ <%= @task.start_date+@task.necessary_days %>
  </div>

  <div>
    <span>実行状況</span>
    <% if    @task.progress == 0 %>
      未実行
    <% elsif @task.progress == 1 %>
      実行中
    <% elsif @task.progress == 2 %>
      完了
    <% end %>
  </div>

  <div>
    <span>重要度</span>
    <% if    @task.priority == 0 %>
      低
    <% elsif @task.priority == 1 %>
      中
    <% elsif @task.priority == 2 %>
      高
    <% end %>
  </div>
</div>