<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div>
      <span>タスク名</span>
      <%=@task.task_name%>
    </div>
    <div>
      <span>説明</span>
      <%= @task.abstract_text %>
    </div>
    <div>
      <span>取り掛かり開始日</span>
      <%= @task.start_date %>
    </div>
    <div>
      <span>締め切り</span>
      <%= @task.deadline_date %>
    </div>
    <div>
      <span>実行状況</span>
      <span><%= @task.status %></span>
      <span>
        <%= button_to "タスクを削除", @task, method: :delete,
                                  data: {confirm: "削除しますか？"}  %>
      </span>
    </div>
  </div>
</div>