<div class = "col-md-offset-1">
  <span><%= link_to "一覧に戻る",  tasks_url      %></span>

  <span><%= link_to "編集",       edit_task_path%></span>
  <span>
   <%= button_to "タスクを削除", @task, method: :delete,
                      form: {data: {turbo_confirm: "本当に削除しますか?"} } %> 
  </span>
</div>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-1">

    <div>
      <span>タスク名</span>
      <%= @task.name %>
    </div>

    <div>
      <span>説明</span>
      <%= @task.description %>
    </div>

    <div>
      <span>必要日数</div>
      <%= @task.necessary_days %>
    </div>

    <div>
      <span>取り掛かり期間</span>
      <%  @deadline_date = @task.start_date + @task.necessary_days - 1 %>
      <%= print_month_day_wday @task.start_date %> ~ 
      <%= print_month_day_wday @deadline_date %>
    </div>

    <div>
      <span>実行状況</span>
      <span><%= @task.progress %></span>
    </div>

    <div>
      <span>重要度</span>
      <span><%= @task.priority %></span>
    </div>

  </div>
</div>