<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form_with model: @task do |form| %>
    title: <%= form.text_field :title %><br>
    description: <%= form.text_area :description %><br>
    priority: <%= form.select :priority, @task_priority_list %><br>
    status: <%= form.select :status, @task_status_list %><br>
    expires date: <%= form.date_field :expires_at %><br> 
    <%= form.submit %><br>
  <% end %>
  </div>
<% end %>
