<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form_with model: @task do |form| %>
      <table>
        <tr>
          <td><%= I18n.t('activerecord.attributes.task.title') %>:</td>
          <td><%= form.text_field :title %></td>
        </tr>
        <tr>
          <td><%= I18n.t('activerecord.attributes.task.priority') %>:</td> 
          <td><%= form.select :priority, I18n.t('select_form.task.priority') %></td>
        </tr>
        <tr>
          <td><%= I18n.t('activerecord.attributes.task.status') %>:</td>
          <td><%= form.select :status,  I18n.t('select_form.task.status') %></td>
        </tr>
        <tr>
          <td><%= I18n.t('activerecord.attributes.task.expires_at') %>:</td> 
          <td><%= form.date_field :expires_at %></td> 
        </tr>
        <tr>
          <td><%= I18n.t('activerecord.attributes.task.description') %>:</td>
          <td><%= form.text_area :description %></td>
        </tr>
      </table>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
