<% if task.errors.full_messages.any? %>
<ul>
    <% task.errors.full_messages.each do |message| %>
    <li class="text-danger small"><%= message %></li>
    <% end %>
</ul>
<% end %>

<div class="task-form">
<%= form_with model: task do |f| %>

  <div class="mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: (t 'title') %>
  </div>

  <div class="mb-3">
    <%= f.text_area :description, class: "form-control", placeholder: (t 'description') %>
  </div>

  <div class="mb-3 row">
    <div class="col-3">
    <%= f.text_field :due_date_at, class: "form-control", placeholder: (t 'due_date_at') + ': yyyy/mm/dd' %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit btn_label, class: "btn btn-primary" %>
  </div>

<% end %>
</div>
<script>


new TempusDominus(document.getElementById('datetimepicker1'), {
  //put your config here
});
</script>
