<%= form_with(model: @task, url: url, method: method) do |f| %>
  <p><%= I18n.t('task.title') %></p>
  <%= f.text_field(:title) %>

  <p><%= I18n.t('task.content') %></p>
  <%= f.text_field(:content) %>

  <p><%= I18n.t('task.label') %></p>
  <%= f.text_field(:label) %>

  <!-- user対応コメントアウト -->
  <!-- <p>担当者</p> -->
  <%#= f.select(:user_id, @select_user_names) %>
  
  <br><br>
  <%= f.submit(button_name) %>
<% end %>
