<div id="<%= dom_id task %>" class="container-sm rounded-2" style="padding:10px;">
  <h1><%= task.title %></h1>
  <hr>
</div>
<div class="container-sm rounded-2" style="padding:10px;">
  <table class="table">
    <tr>
      <td><%= I18n.t('activerecord.attributes.task.priority') %>: <td>
      <td><%= Task.priorities_i18n[task.priority] %></td>
    </tr>
    <tr>
      <td><%= I18n.t('activerecord.attributes.task.status') %>: <td>
      <td><%= Task.statuses_i18n[task.status] %></td>
    </tr>
    <tr>
      <td><%= I18n.t('activerecord.attributes.task.expires_at') %>: <td>
      <td><%= task.expires_at ? task.expires_at.strftime("%Y/%m/%d") : '' %></td>
    </tr>
    <tr>
      <td><%= I18n.t('activerecord.attributes.task.description') %>: <td>
      <td><%= task.description %></td>
    </tr>
  </table>
</div>
