<%= render "form", task: @new_task, btn_label: "Create" %>

<table class="table table-hover">
  <thead>
    <tr class="small">
      <th scope="col"><%= t 'title' %></th>
      <th scope="col"><%= t 'description' %></th>
      <th scope="col">
        <%= link_to_unless(params[:sort].eql?('created_at'), raw(t 'created_at' ) + raw('<i class="bi bi-sort-up"></i>'), root_path(:sort => 'created_at')) %>
      </th>
      <th scope="col">
        <%= link_to_unless(params[:sort].eql?('due_date_at'), raw(t 'due_date_at' ) + raw('<i class="bi bi-sort-up"></i>'), root_path(:sort => 'due_date_at')) %>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
<% if @tasks.any? %>
  <tbody>
<% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.description %></td>
      <td><%= task.created_at %></td>
      <td><%= task.due_date_at.to_s.split[0] %></td>
      <td>
      <%= button_to "Delete",
      task_path(task),
      method: :delete,
      class: "btn btn-danger btn-xs del-btn",
      data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }
      %>
      </td>
    </tr>
<% end %>
  </tbody>
<% end %>
</table>
