<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('tasks.index.title') %></h1>
<hr>
<%= link_to I18n.t('tasks.index.add_task'), new_task_path %>
<br>
<br>

  <%= render 'search_form', task: @task %>

<div id="tasks">
  <table>
    <tr>
      <th></th>
      <th><%= I18n.t('activerecord.attributes.task.title') %></th>
      <th><%= I18n.t('activerecord.attributes.task.priority') %></th>
      <th><%= I18n.t('activerecord.attributes.task.status') %></th>
      <th><%= I18n.t('activerecord.attributes.task.expires_at') %></th>
    </tr>
    
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to "edit", edit_task_path(task) %>
        </td>
        <td>
          <%= link_to task.title, task %>
        </td>
        <td>
          <%= Task.priorities_i18n[task.priority] %>
        </td>
        <td>
          <%= Task.statuses_i18n[task.status] %>
        </td>
        <td>
          <%= task.expires_at ? task.expires_at.strftime("%Y/%m/%d") : '' %>
        </td>
    </tr>
    <% end %>
  </table>
</div>


