<html>
    <head>
    </head>
    <body>
        <div name="header">
            <h1>タスク一覧画面</h1>
        </div>
        <div name="content">
            <div name="create-task">
                <%= link_to("作成", tasks_new_path()) %>
            </div>
            <div name="serch-task">

            </div>
            <div name="list-task">
                <table>
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <th>ラベル</th>
                            <th>担当者</th>
                            <th>状況</th>
                            <th></th>
                        </tr>
                    <thead>
                    <tbody>
                        <% @list_items.each do |list_item| %>
                            <tr>
                                <td><span><%= list_item.title %></span></td>
                                <td><span><%= list_item.label %></span></td>
                                <td><span><%= list_item.name %></span></td>
                                <td><span><%= get_status_view(list_item.status) %></span></td>
                                <td><%= link_to("詳細", tasks_details_path(list_item.user_id)) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div name="footer">
        </div>
    </body>
</html>
