<div name='header'>
  <h1>タスク作成画面</h1>
</div>
<div name='content'>
  <%= form_with(model: @task, url: create_task_path) do |f| %>
    <p>タイトル</p>
    <%= f.text_field(:title) %>

    <p>内容</p>
    <%= f.text_field(:content) %>

    <p>ラベル</p>
    <%= f.text_field(:label) %>

    <!-- user対応コメントアウト -->
    <!-- <p>担当者</p> -->
    <%#= f.select(:user_id, @select_user_names) %>
    
    <br><br>
    <%= f.submit('作成') %>
  <% end %>
</div>
<div name='footer'>
  <%= link_to('一覧へ', '/') %>
</div>
