<table class='table'>
    <tbody>
        <tr>
            <th><%= t 'title' %></th>
            <td><%= @task.title %></td>
        </tr>
        <tr>
            <th><%= t 'description' %></th>
            <td><%= @task.description %></td>
        </tr>
        <tr>
            <th><%= t 'due_date_at' %></th>
            <td><%= @task.due_date_at %></td>
        </tr>
        <tr>
            <th><%= t 'created_at' %></th>
            <td><%= @task.created_at %></td>
        </tr>
        <tr>
            <th><%= t 'updated_at' %></th>
            <td><%= @task.updated_at %></td>
        </tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_task_path(@task) %>
