<p style="color: green"><%= notice %></p>

<%= render @task %>
<br>
<div>
  <%= link_to I18n.t('tasks.common.to_edit'), edit_task_path(@task) %> |
  <%= link_to I18n.t('tasks.common.to_index'), tasks_path %>
</div>
<br>
<div>
  <%= button_to I18n.t('tasks.common.to_delete'), @task, method: :delete %>
</div>
