<div name='header'>
  <h1><%= I18n.t('view_title.show') %></h1>
</div>
<div name='content'>
  <p><%= I18n.t('task.title') %></p>
  <p><%= @task.title %></p>

  <p><%= I18n.t('task.content') %></p>
  <p><%= @task.content %></p>

  <p><%= I18n.t('task.label') %></p>
  <p><%= @task.label %></p>

  <!-- user対応コメントアウト -->
  <!-- <p>担当者</p> -->
  <!-- <p><%#= @task.user.name %></p> -->
</div>
<div name='footer'>
  <%= link_to(I18n.t('link.edit'), edit_task_path(@task)) %>
  <%= link_to(I18n.t('button.delete'), task_path(@task), method: :delete, data: { confirm: I18n.t('message.delete_confirm') }) %>
  <%= link_to(I18n.t('link.list_back'), root_path) %>
</div>
