<!DOCTYPE html>
<html>
  <head>
    <title>JobSan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |_, message| %>
      <%= message %>
    <% end %>
    <div>
      <ul>
        <li style="display: inline;">
          <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.task_list'), tasks_path %></div>
        </li>
        <li style="display: inline;">
          <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.new_task'), new_task_path %></div>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
