<!DOCTYPE html>
<html>
  <head>
    <title>JobSan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |_, message| %>
      <%= message %>
    <% end %>
      <div>
        <ul>
          <% if logged_in? && !(request.url.include?('admin')) %>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.task_list'), tasks_path %></div>
            </li>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.new_task'), new_task_path %></div>
            </li>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.session.label.logout'), logout_path, method: :delete %></div>
            </li>
          <% elsif logged_in? %>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.user_list'), admin_users_path %></div>
            </li>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.header.new_user'), new_admin_user_path %></div>
            </li>
            <li style="display: inline;">
              <div style="display: inline; background: lightgreen;"><%= link_to I18n.t('view.session.label.logout'), logout_path, method: :delete %></div>
            </li>
          <% else %>
            <li><%= link_to I18n.t('view.session.label.login'), login_path %></li>
          <% end %>
        </ul>
      </div>
    <%= yield %>
  </body>
</html>
