<!DOCTYPE html>
<html>
  <head>
    <title>JobSan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'job_san_svelte' %>

    <script>
        var jsProps = <%= { loggedIn: logged_in? }.to_json.html_safe %>
    </script>
  </head>

  <body>
    <div style="width: 80%; margin: auto;">
      <div id="jobsan_header"></div>
      <%= yield %>
    </div>
  </body>
</html>
