<tr>
  <td><%= task.task_name %></td>
  <td><%= task.detail %></td>
  <td><%= task.created_at %></td>
  <td><%= task.updated_at %></td>
  <td><%= link_to 'Show', task %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>