<tr>
  <td><%= link_to task.title, task %></td>
  <td><%= task.detail %></td>
  <td><%= I18n.l(task.end_date, default: '') %></td>
  <td><%= I18n.t("tasks.status.#{task.status}") %></td>
  <td><%= I18n.l(task.created_at) %></td>
  <td><%= I18n.l(task.updated_at) %></td>
  <td><%= link_to icon('fas', 'edit'), edit_task_path(task) %></td>
  <td><%= link_to icon('fas', 'trash-alt'), task, { method: :delete, data: { confirm: I18n.t('confirms.delete') }, class: 'delete-link' } %></td>
</tr>
