<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h1><%= I18n.t('tasks.index.page_title') %></h1>
<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.text_field :title, { value: params[:title], placeholder: Task.human_attribute_name(:title) } %>
  <%= form.select :status, Task.statuses.map { |v, k| [I18n.t("tasks.status.#{v}"), v] }, { selected: params[:status], include_blank: Task.human_attribute_name(:status) } %>
  <%= form.submit I18n.t('helpers.submit.search') %>
<% end %>
<table>
  <thead>
    <td><%= sortable :title %></td>
    <td><%= sortable :detail %></td>
    <td><%= sortable :end_date %></td>
    <td><%= sortable :status %></td>
    <td><%= sortable :created_at %></td>
    <td><%= sortable :updated_at %></td>
  </thead>
  <tbody>
    <%= render partial: 'task', collection: @tasks %>
  </tbody>
</table>
<br>
<%= paginate @tasks %>
<%= link_to I18n.t('attributes.new_task'), new_task_path %>
