<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h1><%= t('.h1') %></h1>
<table>
  <thead>
    <td><%= Task.human_attribute_name(:title) %></td>
    <td><%= Task.human_attribute_name(:detail) %></td>
    <td><%= t('attributes.created_at') %></td>
    <td><%= t('attributes.updated_at') %></td>
  </thead>
  <tbody>
    <%= render partial: 'task', collection: @tasks %>
  </tbody>
</table>
<br>
<%= link_to t('attributes.new_task'), new_task_path %>