<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h1><%= I18n.t('tasks.index.page_title') %></h1>
<table>
  <thead>
    <td><%= sortable :title %></td>
    <td><%= sortable :detail %></td>
    <td><%= sortable :created_at %></td>
    <td><%= sortable :updated_at %></td>
  </thead>
  <tbody>
    <%= render partial: 'task', collection: @tasks %>
  </tbody>
</table>
<br>
<%= link_to I18n.t('attributes.new_task'), new_task_path %>
