<h1><%= @task.title %></h1>
<%= render partial: 'form', locals: { task: @task, disabled: true } %>
<%= link_to root_path do %>
  <%= icon('fas', 'arrow-alt-circle-left') %>
<% end %>
<%= link_to edit_task_path(@task) do %>
  <%= icon('fas', 'edit') %>
<% end %>