<h1><%= I18n.t('user_index') %></h1>

<table class="table users">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">認証</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">カテゴリ数</th>
      <th scope="col">タスク数</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <% if user.activated %>
          <td>済</td>
        <% else %>
          <td>ー</td>
        <% end %>
        <td><%= link_to user.name,  user %></td>
        <td><%= user.email %></td>
        <td><%= user.categories.count %></td>
        <td><%= user.tasks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>