<%= form_with model: @task, method: target_method do |form| %>
  <div>
    <%= form.label(:name) %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label(:description) %>
    <%= form.text_field :description %>
  </div>
  <%= form.submit %>
<% end %>
