<%= search_form_for(@query, url: form_path) do |f| %>
  <%= f.label :name_cont %><br />
  <%= f.search_field :name_cont %>
  <%= f.select :status_eq, options_for_select(Task::STATUSES.map{|k,v| [v,k.to_s]}, @query.status_eq), include_blank: '全てのステータス' %>
  <%= f.submit %>
<% end %>

<%= content_tag :table do %>
  <thead>
  <tr>
    <th><%= I18n.t('view.task.label.id') %></th>
    <th><%= I18n.t('view.task.label.name') %></th>
    <th><%= I18n.t('view.task.label.description') %></th>
    <th><%= I18n.t('view.task.label.status') %></th>
    <%= content_tag :th, sort_link(@query, :target_date, default_order: :desc) %>
    <%= content_tag :th, sort_link(@query, :created_at, default_order: :desc) %>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.id.to_s, task_url(task.id) %></td>
      <td><%= task.name.truncate(13) %></td>
      <td><%= task.description&.truncate(13) %></td>
      <td><%= task.aasm.human_state %></td>
      <td><%= viewed_target_date(task) %></td>
      <td><%= task.created_at.strftime(I18n.t('view.date_format')) %></td>
    </tr>
  <% end %>
  </tbody>
<% end %>

<%= paginate @tasks %>
