<h1>Tasks#index</h1>
<%= render partial: 'tasks/error_message' %>
<div>
  <%= form_with url: tasks_path, method: :get, local: true do |form| %>
    <%= form.select :sort_key, [%w[作成日時 created_at], %w[完了日 target_date]], selected: params[:sort_key] || 'created_at' %>
    <%= form.submit I18n.t('view.task.index.sort'), name: nil %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th><%= I18n.t('view.task.label.id') %></th>
      <th><%= I18n.t('view.task.label.name') %></th>
      <th><%= I18n.t('view.task.label.description') %></th>
      <th><%= I18n.t('view.task.label.target_date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.id.to_s, task_url(task.id) %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= viewed_target_date(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
