<h1>Tasks#show</h1>
<% if @task %>
  <div>
    <p><%= "#{I18n.t('view.task.label.id')}: #{@task.id}" %></p>
    <p><%= "#{I18n.t('view.task.label.name')}: #{@task.name}" %></p>
    <p><%= "#{I18n.t('view.task.label.description')}: #{@task.description}" %></p>
    <p><%= "#{I18n.t('view.task.label.status')}: #{@task.aasm.human_state}" %></p>
    <p><%= "#{I18n.t('view.task.label.target_date')}: #{viewed_target_date(@task)}" %></p>
  </div>
  <div>
    <ul>
      <li style="display: inline"><%= link_to I18n.t('view.task.show.update'), edit_task_url(@task.id) %></li>
      <li style="display: inline"><%= link_to I18n.t('view.task.show.delete'), @task.id.to_s, data: { confirm: I18n.t('view.task.show.confirm_delete', name: @task.name) }, method: :delete %></li>
    </ul>
  </div>
<% else %>
  <%= I18n.t('view.task.error.not_found') %>
<% end %>
