<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Status</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
	<td>
	<% if task.status == "yet" %>
	  未着手
	<% elsif task.status == "do" %>
	  着手
	<% elsif task.status == "done" %>
	  完了
	<% end %>
	</td>
        <td><%= task.end_time %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '修正', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '作成', new_task_path %>
