<h2><%= "#{@user.name}#{t('views.admin.todos.title')}" %></h2>
<%= button_to(t('dictionary.all'), controller: :admin, action: :todos, sort: @sort, direction: @direction, search: '', status: '') %>
<%= button_to(t('status.unstarted'), controller: :admin, action: :todos, sort: @sort, direction: @direction, search: @search, status: 'unstarted') %>
<%= button_to(t('status.working'), controller: :admin, action: :todos, sort: @sort, direction: @direction, search: @search, status: 'working') %>
<%= button_to(t('status.completed'), controller: :admin, action: :todos, sort: @sort, direction: @direction, search: @search, status: 'completed') %>
<%= form_tag("/admin/#{params[:id]}/todos") do %>
  <input type="search" name="search">
  <input type="hidden" name="sort" value="<%= @sort %>">
  <input type="hidden" name="direction" value="<%= @direction %>">
  <input type="hidden" name="status" value="<%= @status %>">
  <input type="submit" value="<%= t('dictionary.search') %>">
<% end %>
<%= link_to(t('dictionary.create'), './new') %>
<table border="1">
  <thead>
  <tr>
    <th><%= link_to(t('dictionary.priority'), controller: :admin, action: :todos, sort: 'priority_id', direction: @direction == 'desc' ? 'asc' : 'desc', search: @search, status: @status) %></th>
    <th><%= t('dictionary.status') %></th>
    <th><%= t('dictionary.title') %></th>
    <th><%= t('dictionary.content') %></th>
    <th><%= link_to(t('dictionary.deadline'), controller: :admin, action: :todos, sort: 'deadline', direction: @direction == 'desc' ? 'asc' : 'desc', search: @search, status: @status) %></th>
  </tr>
  </thead>
  <tbody>
  <% @todos.each do |todo| %>
    <tr>
      <th><%= t("priority.#{todo.priority_id}") %></th>
      <th><%= t("status.#{todo.status_id}") %></th>
      <th><%= link_to(todo.title, "/todos/#{todo.id}/detail") %></th>
      <th><%= todo.content %></th>
      <th style="color:<%= 'red' if !todo.deadline.nil? and todo.deadline < Time.current %>">
        <%= l(todo.deadline, format: :long) if !todo.deadline.nil? %>
      </th>
    </tr>
  <% end %>
  </tbody>
  <%= paginate @todos %>
</table>
