<h1><%= Category.model_name.human %></h1>

<%= form_for(@category) do |f| %>
  <%= f.label      :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit '作成', class: "btn btn-primary" %>
<% end %>

<ul class="categories">
  <% @categories.each do |c| %>
    <div>
      <%= c.name %>
    </div>
  <% end %>
</ul>