<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :priority %>
    <%# TODO：ラベルとコードのハードコード部分の修正 %>
　　<%= f.select :priority, [['低', 0], ['中', 1], ['高', 2]], { selected: 1 } %>
  </div>
  <div>
    <%= f.label :status %>
    <%# TODO：ラベルとコードのハードコード部分の修正 %>
　  <%= f.select :status, [['未着手', 0], ['着手', 1], ['完了', 2]], { selected: 0 } %>
  </div>
  <div>
    <%= f.label :due %>
    <%= f.text_field :due %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%# TODO：画面によってボタン名を動的に変更できるようにする %>
    <%= link_to I18n.t('tasks.link.back'), :back %>
    <%= f.submit I18n.t('tasks.button') %>
  <div>
<% end %>
