<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities_i18n.invert, {} %> 
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, Task.statuses_i18n.invert, {} %>
  </div>
  <div>
    <%= f.label :due %>
    <%= f.text_field :due %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%# TODO：画面によってボタン名を動的に変更できるようにする %>
    <%= link_to I18n.t('tasks.link.back'), :back %>
    <%= f.submit I18n.t('tasks.button') %>
  <div>
<% end %>
