<div>
  <h1><%= I18n.t('tasks.index.title') %></h1>
</div>
<% flash.each do |message_type, message| %>
  <div>
    <%= message %>
  <div>
<% end %>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label I18n.t('activerecord.attributes.task.title') %>
    <%= f.text_field :title, value: @search_params[:title] %>
  </div>
  <div>
    <%= f.label I18n.t('activerecord.attributes.task.status') %>
    <%= f.select :status, Task.statuses_i18n.invert, { include_blank: true, selected: @search_params[:status] } %>
  </div>
  <%= f.submit I18n.t('tasks.button') %>
<% end %>
<%# 暫定対応：テーブルのレイアウトはCSSで整える予定だが、現時点ではCSSを使うステップにいない為、border="1"を使用 %>
<table border="1">
  <tr>
    <th><%= I18n.t('activerecord.attributes.task.title') %></th>
    <th><%= I18n.t('activerecord.attributes.task.priority') %></th>
    <th><%= I18n.t('activerecord.attributes.task.status') %></th>
    <th><%= sortable 'due', I18n.t('activerecord.attributes.task.due') %></th>
    <th><%= I18n.t('tasks.link.show') %></th>
    <th><%= I18n.t('tasks.link.edit') %></th>
    <th><%= I18n.t('tasks.link.delete') %></th>
  </tr>

<% @tasks.each do |t| %>
  <tr>
    <td><%= t.title %></td>
    <td><%= t.priority_i18n %></td>
    <td><%= t.status_i18n %></td>
    <td><%= t.due %></td>
    <td><%= link_to I18n.t('tasks.link.show'), task_path(t.id) %></td>
    <td><%= link_to I18n.t('tasks.link.edit'), edit_task_path(t.id) %></td>
    <td><%= link_to I18n.t('tasks.link.delete'), task_path(t.id), method: :delete, data: { confirm: I18n.t('tasks.confirm.delete') } %></td>
  </tr>
<% end %>
</table>
<%= link_to I18n.t('tasks.link.new'), new_task_path %>
