<div>
  <h1>タスク一覧</h1>
</div>
<div>
  <%= notice %>
</div>
<%# 暫定対応：テーブルのレイアウトはCSSで整える予定だが、現時点ではCSSを使うステップにいない為、border="1"を使用 %>
<table border="1">
  <tr>
    <th>タイトル</th>
    <th>優先度</th>
    <th>ステータス</th>
    <th>期限</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @tasks.each do |t| %>
  <tr>
    <td><%= t.title %></td>
    <td><%= t.priority %></td>
    <td><%= t.status %></td>
    <td><%= t.due %></td>
    <td><%= link_to '詳細', task_path(t.id) %></td>
　　<td><%= link_to '編集', edit_task_path(t.id) %></td>
    <td><%= link_to '削除', task_path(t.id), method: :delete, data: { confirm: 'タスクを削除しますか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'タスク登録', new_task_path %>
