<div>
  <h1>タスク詳細</h1>
<div>

<div>
  <label> タイトル：</label>
  <%= @task.title %>
</div>
<div>
  <label>説明：</label>
  <%= @task.description %>
</div>
<div>
  <label>優先度：</label>
  <%# TODO:表示値をコードからラベルに変換 %>
　<%= @task.priority %>
</div>
<div>
  <label>ステータス：</label>
  <%# TODO:表示値をコードからラベルに変換 %>
　<%= @task.status %>
</div>
<div>
  <label>期限：</label>
　<%# TODO：日付フォーマットへの変換 %>
  <%= @task.due %>
</div>
<%= link_to '戻る', :back %>
