<div>
  <h1><%= I18n.t('tasks.show.title') %></h1>
<div>

<div>
  <label><%= Task.human_attribute_name(:title) %>：</label>
  <%= @task.title %>
</div>
<div>
  <label><%= Task.human_attribute_name(:description) %>：</label>
  <%= @task.description %>
</div>
<div>
  <label><%= Task.human_attribute_name(:priority) %>：</label>
　<%= @task.priority_i18n %>
</div>
<div>
  <label><%= Task.human_attribute_name(:status) %>：</label>
　<%= @task.status_i18n %>
</div>
<div>
  <label><%= Task.human_attribute_name(:due) %>：</label>
　<%# TODO：日付フォーマットへの変換 %>
  <%= @task.due %>
</div>
<%= link_to I18n.t('tasks.link.back'), :back %>
