<div>
  <h1><%= I18n.t('tasks.show.title') %></h1>
<div>

<div>
  <label><%= I18n.t('activerecord.attributes.task.title') %>：</label>
  <%= @task.title %>
</div>
<div>
  <label><%= I18n.t('activerecord.attributes.task.description') %>：</label>
  <%= @task.description %>
</div>
<div>
  <label><%= I18n.t('activerecord.attributes.task.priority') %>：</label>
　<%= @task.priority_i18n %>
</div>
<div>
  <label><%= I18n.t('activerecord.attributes.task.status') %>：</label>
　<%= @task.status_i18n %>
</div>
<div>
  <label><%= I18n.t('activerecord.attributes.task.due') %>：</label>
　<%# TODO：日付フォーマットへの変換 %>
  <%= @task.due %>
</div>
<%= link_to I18n.t('tasks.link.back'), :back %>
