<h1>タスク詳細</h1>

<table>
  <tr>
    <th>title</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>description</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th>priority</th>
    <td><%= @task.priority %></td>
  </tr>
  <tr>
    <th>status</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>due_date</th>
    <td><%= @task.due_date.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>created_at</th>
    <td><%= @task.created_at.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>updated_at</th>
    <td><%= @task.updated_at.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>actions</th>
    <td>
      <%= link_to 'edit', edit_task_path(@task) %>
      <%= link_to 'delete', task_path(@task), method: :delete %>
    </td>
  </tr>
</table>

<%= link_to '戻る', tasks_path %>
